<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
SetHandler application/x-lsphp82
</FilesMatch>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^crm\.lamfbroker\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.crm\.lamfbroker\.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
